body {
    font-family: Verdana, sans-serif;
}
h1, h2 {
    color: #DB7093;
}
.evenrow {
    background-color: lightgray; /* Change this to your chosen color for even rows */
}
h1 {
    font-size: 2em; /* Adjust this value as desired */
}

h2 {
    font-size: 1.5em; /* Adjust this value as desired */
}